.container {
  display: flex;
  padding: 1rem;
  gap: 0.7rem;
  border-bottom: 1px solid var(--ion-color-light);
}

.avatar-container img {
  width: 2.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.user {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.name {
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.text {
  line-height: 1.3rem;
}

.image {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0.2rem 0;
}

.image img {
  max-width: 100%;
  min-height: 100px;
  max-height: 500px;
  border-radius: 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.buttons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-size: 1rem;
  margin-top: 0.3rem;
}

.button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  cursor: pointer;
}

.button ion-icon {
  font-size: 1.25rem;
}

.extra {
  display: flex;
  gap: 1.5rem;
  align-items: flex-end;
}

.edited {
  display: flex;
  align-items: flex-end;
  gap: 0.3rem;

  ion-icon {
    font-size: 1.1rem;
  }
}

.popover-viewport {
  width: min-content;
}

.popover-container {
  font-size: 1rem;
  color: var(--ion-color-dark);
}

.popover-slot {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
}

.popover-slot:first-child {
  border-bottom: 1px solid var(--ion-color-light);
}

ion-popover::part(content) {
  --width: 9rem;
}
