<div class="container" (click)="redirectToTweet()">
  <div class="avatar">
    <div class="avatar-container" (click)="redirectToUser($event)">
      <img [src]="tweet.user.avatar" />
    </div>
  </div>
  <div class="content">
    <div class="header">
      <div class="info">
        <div class="user">
          <ion-text class="name">{{ tweet.user.name }}</ion-text>
          <ion-text color="primary" class="username"
            >@{{ tweet.user.username }}</ion-text
          >
        </div>
        <div class="replying" *ngIf="tweet.isReplyTo">
          <ion-text color="medium">
            Replying to
            <ion-text color="primary" (click)="sendToReply($event)">
              this ramble
            </ion-text>
          </ion-text>
        </div>
      </div>
      <div class="popover" *ngIf="checkUser">
        <ion-icon
          color="medium"
          name="ellipsis-vertical"
          (click)="showOptions($event)"
          size="small"
          #event
        ></ion-icon>
      </div>
    </div>
    <div class="text">
      <ion-text>{{ tweet.content }}</ion-text>
    </div>
    <div class="image" *ngIf="tweet.image">
      <img [src]="tweet.image" class="image" />
    </div>
    <div class="footer">
      <div class="buttons">
        <div class="button">
          <ion-icon name="chatbubble-outline" color="medium"></ion-icon>
          <ion-text color="medium">{{ tweet.replyCount }}</ion-text>
        </div>
        <div class="button" (click)="likeTweet($event)">
          <ion-icon
            *ngIf="!tweet.liked"
            name="heart-outline"
            color="medium"
          ></ion-icon>
          <ion-icon *ngIf="tweet.liked" name="heart" color="danger"></ion-icon>
          <ion-text [color]="tweet.liked ? 'danger' : 'medium'">{{
            tweet.likeCount
          }}</ion-text>
        </div>
      </div>
      <div class="extra">
        <div *ngIf="tweet.isEdited" class="edited">
          <ion-icon name="create-outline" color="medium"></ion-icon>
          <ion-text color="medium">Edited</ion-text>
        </div>
        <ion-text color="medium">{{ tweet.createdAt | date }}</ion-text>
      </div>
    </div>
  </div>
</div>

<ion-popover #popover>
  <ng-template>
      <div class="popover-container">
        <div (click)="openEditModal()" class="popover-slot">
          <ion-icon name="pencil" slot="start"></ion-icon>
          <ion-text>Edit</ion-text>
        </div>
        <div (click)="presentAlert()" class="popover-slot">
          <ion-icon name="trash" slot="start" color="danger"></ion-icon>
          <ion-text color="danger">Delete</ion-text>
        </div>
      </div>
  </ng-template>
</ion-popover>
