<div class="container" (click)="redirectToTweet()">
  <div class="avatar">
    <ion-avatar (click)="redirectToUser($event)">
      <img [src]="tweet.user.avatar" />
    </ion-avatar>
  </div>
  <div class="content">
    <div class="header">
      <div class="info">
        <div class="user">
          <ion-text class="name">{{ tweet.user.name }}</ion-text>
          <ion-text color="primary" class="username"
            >@{{ tweet.user.username }}</ion-text
          >
        </div>
        <div class="replying" *ngIf="tweet.isReplyTo">
          <ion-text color="medium">
            Replying to
            <ion-text color="primary" (click)="sendToReply($event)">
              this ramble
            </ion-text>
          </ion-text>
        </div>
      </div>
      <div class="popover" *ngIf="checkUser">
        <ion-icon
          color="medium"
          name="ellipsis-vertical"
          (click)="showOptions($event)"
          size="small"
          #event
        ></ion-icon>
      </div>
    </div>
    <div class="text">
      <ion-text>{{ tweet.content }}</ion-text>
    </div>
    <div class="image" *ngIf="tweet.image">
      <img [src]="tweet.image" class="image" />
    </div>
    <div class="footer">
      <div class="buttons">
        <div class="button">
          <ion-icon name="chatbubble-outline" color="medium"></ion-icon>
          <ion-text color="medium">{{ tweet.replyCount }}</ion-text>
        </div>
        <div class="button" (click)="likeTweet($event)">
          <ion-icon
            *ngIf="!tweet.liked"
            name="heart-outline"
            color="medium"
          ></ion-icon>
          <ion-icon *ngIf="tweet.liked" name="heart" color="danger"></ion-icon>
          <ion-text [color]="tweet.liked ? 'danger' : 'medium'">{{
            tweet.likeCount
          }}</ion-text>
        </div>
      </div>
      <div class="date">
        <ion-text color="medium">{{ tweet.createdAt | date }}</ion-text>
      </div>
    </div>
  </div>
</div>

<ion-popover #popover reference="event">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item (click)="openEditModal()">
          <ion-icon name="pencil" slot="start"></ion-icon>
          <ion-label>Edit</ion-label>
        </ion-item>
        <ion-item (click)="presentAlert()">
          <ion-icon name="trash" slot="start"></ion-icon>
          <ion-label>Delete</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
