<div class="tweet-container">
  <div class="tweet-header" (click)="redirectToUser()">
    <div class="tweet-header-avatar" >
      <img src="{{ tweet.user[0].avatar }}" />
    </div>
    <div class="tweet-header-name">
      <ion-text class="tweet-name">{{ tweet.user[0].name }}</ion-text>
      <ion-text color="primary" class="tweet-username"
        >#{{ tweet.user[0].username }}</ion-text
      >
    </div>
  </div>
  <div class="tweet-content" (click)="redirectToTweet()">
    <ion-text>{{ tweet.content }}</ion-text>
    <div class="image-container" *ngIf="tweet.image">
      <img class="image" [src]="tweet.image" />
    </div>
  </div>
  <div class="tweet-footer">
    <div class="tweet-footer-buttons">
      <div class="tweet-footer-icon">
        <ion-icon name="chatbubble-outline"></ion-icon>
        <ion-text>{{ tweet.replyCount }}</ion-text>
      </div>
      <div class="tweet-footer-icon" (click)="likeTweet()">
        <ion-icon name="heart-outline" [color]="tweet.liked? 'danger': 'medium'"></ion-icon>
        <ion-text>{{ tweet.likeCount }}</ion-text>
      </div>
    </div>
    <div class="tweet-footer-date">
      <ion-text color="medium">{{ tweet.createdAt | date }}</ion-text>
    </div>
  </div>
</div>
