<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tweet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($any($event))">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-tweet
    (editEvent)="onTweetEdit()"
    (deleteEvent)="onTweetDelete()"
    *ngIf="tweet"
    [tweet]="tweet"
  ></app-tweet>

  <div class="replies">
    <h4>Replies</h4>
    <ng-container *ngIf="replies.length > 0">
      <app-tweet
        (reloadEvent)="loadData()"
        *ngFor="let reply of replies"
        [tweet]="reply"
      ></app-tweet>
    </ng-container>
  </div>
  <div class="content-container" *ngIf="replies.length === 0">
    <div class="no-content">No replies yet</div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="reply()">
      <ion-icon name="arrow-redo"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
