// <div class="container" (click)="redirectToUser()">
//   <div class="header">
//     <ion-avatar class="avatar">
//       <img src="{{ user.avatar }}" />
//     </ion-avatar>
//     <div class="info">
//       <ion-text class="name">{{ user.name }}</ion-text>
//       <ion-text color="primary" class="username"
//         >@{{ user.username }}</ion-text
//       >
//     </div>
//   </div>
//   <div class="bio">
//     <ion-text>{{ user.bio }}</ion-text>
//   </div>
// </div>

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid var(--ion-color-light);
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 1.1rem;
}

.name {
  font-weight: bold;
}
