<div class="tweet-container">
  <div class="tweet-header">
    <div class="tweet-header-avatar">
      <img src="{{ tweet.user[0].avatar }}" />
    </div>
    <div class="tweet-header-name">
      <p class="tweet-name">{{ tweet.user[0].name }}</p>
      <p class="tweet-username">#{{ tweet.user[0].username }}</p>
    </div>
  </div>
  <div class="tweet-content">
    <ion-text>{{ tweet.content }}</ion-text>
    <div class="image-container" *ngIf="tweet.image">
      <img class="image" [src]="tweet.image" />
    </div>
  </div>
  <div class="tweet-footer">
    <div class="tweet-footer-buttons">
      <div class="tweet-footer-icon">
        <ion-icon name="chatbubble-outline"></ion-icon>
        <ion-text>{{ tweet.replyCount }}</ion-text>
      </div>
      <div class="tweet-footer-icon">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-text>{{ tweet.likeCount }}</ion-text>
      </div>
    </div>
    <div class="tweet-footer-date">
      <ion-text color="medium">{{ tweet.createdAt | date }}</ion-text>
    </div>
  </div>
</div>

<!-- <ion-row class="wrapper"> -->

<!-- <ion-col size="12">
    <ion-row>
      <ion-col size="2">
        <ion-avatar class="avatar">
          <img src="{{ tweet.user[0].avatar }} " />
        </ion-avatar>
      </ion-col>
      <ion-col size="10">
        <ion-text>
          <b>{{ tweet.user[0].name }}</b>
        </ion-text>
        <ion-text>
          <span> #{{ tweet.user[0].username }}</span>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text>{{ tweet.content }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="tweet.image">
      <ion-col size="12">
        <img class="image" [src]="tweet.image" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text color="medium">{{ tweet.createdAt | date }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-icon name="chatbubble-outline"></ion-icon>
        <ion-text>{{ tweet.replyCount }}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-text>{{ tweet.likeCount }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row> -->

<!-- <div class="container">
  <div class="secondContainer">
    <div class="title">
      <ion-text
        ><b>{{ tweet.user[0].name }}</b></ion-text
      >
      <ion-text color="medium"> </ion-text>
    </div>
    <div class="content">
      <ion-text>
        {{ tweet.content }}
      </ion-text>
      <img *ngIf="tweet.image" class="image" [src]="tweet.image" />
    </div>
    <div class="button">
      <div class="icon">
        <ion-icon name="heart-outline" size="large"></ion-icon>
        <ion-text>{{ tweet.likeCount }}</ion-text>
      </div>
      <div class="icon">
        <ion-icon name="chatbubble-outline" size="large"></ion-icon>
        <ion-text> {{ tweet.replyCount }} </ion-text>
      </div>
    </div>
  </div>
</div> -->
