<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="user" class="user-container">
    <div class="user-header">
      <div>
        <img class="avatar" src="{{ user.avatar }}" />
      </div>
      <div *ngIf="user.hasMeBlocked === false">
        <ion-button *ngIf="user.blocked=== false" (click)="followUser()"
          >{{user.following? "Followed":"Follow"}}</ion-button
        >
        <ion-button color="danger" (click)="blockUser()"
          >{{user.blocked? "Unblock":"Block"}}</ion-button
        >
      </div>
    </div>
    <div class="user-content">
      <div class="name">
        <ion-text> {{ user.name }} </ion-text>
        <ion-text color="medium"> @{{ user.username }} </ion-text>
      </div>
      <ion-text
        *ngIf="user.hasMeBlocked === false && user.blocked=== false"
        class="bio"
        >{{ user.bio }}</ion-text
      >
      <ion-text
        *ngIf="user.hasMeBlocked === false &&  user.blocked=== false"
        color="medium"
        >Joined {{user.createdAt.slice(0,10)}}
      </ion-text>
    </div>
    <div
      *ngIf="user.hasMeBlocked === false && user.blocked === false"
      class="user-footer"
    >
      <ion-text>{{ user.followingCount }} Following</ion-text>
      <ion-text>{{ user.followersCount }} Followers</ion-text>
    </div>
    <div class="blocked" *ngIf="user.hasMeBlocked === true">
      <ion-text>You're blocked</ion-text>
      <ion-text color="medium"
        >You can't follow or see @{{user.username}}'s posts</ion-text
      >
    </div>
  
    <div
      class="blocked"
      *ngIf="user.blocked === true && user.hasMeBlocked === false"
    >
      <ion-text>@{{user.username}} is blocked</ion-text>
      <ion-text color="medium">
        You can't see @{{user.username}}'s posts</ion-text
      >
    </div>
  </div>
</ion-content>
