<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<form (submit)="login()"  #loginForm="ngForm">


  <ion-input
    fill="solid"
    label="Username"
    labelPlacement="floating"
    type="text"
    [(ngModel)]="data.username"
    ngModel
    required
    maxlength="15"
    name="username"
    errorText="Invalid username"
  ></ion-input>
  <ion-input
    fill="solid"
    label="Password"
    labelPlacement="floating"
    type="password"
    [(ngModel)]="data.password"
    ngModel
    required
    minlength="6"
    maxlength="15"
    [counter]="true"
    name="password"
    errorText="Invalid password"
  ></ion-input>

<ion-button type="submit" [disabled]="loginForm.invalid">Login</ion-button>
</form>
</ion-content>

<p>Don't have an account? <a [routerLink]="['/register']">Register</a></p>
