<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-input
    fill="solid"
    label="Name"
    labelPlacement="floating"
    type="text"
    ngModel
    required
    maxlength="15"
    name="name"
    errorText="Invalid name"
  ></ion-input>

  <ion-input
    fill="solid"
    label="Username"
    labelPlacement="floating"
    type="text"
    ngModel
    required
    maxlength="15"
    name="username"
    errorText="Invalid username"
  ></ion-input>

  <ion-input
    fill="solid"
    label="Email"
    labelPlacement="floating"
    type="email"
    errorText="Invalid email"
    ngModel
    email
  ></ion-input>

  <ion-input
    fill="solid"
    label="Password"
    labelPlacement="floating"
    type="password"
    ngModel
    required
    minlength="6"
    maxlength="15"
    [counter]="true"
    name="password"
    errorText="Invalid password"
  ></ion-input>

  <ion-input
    fill="solid"
    label="Confirm Password"
    labelPlacement="floating"
    type="password"
    ngModel
    required
    minlength="6"
    maxlength="15"
    [counter]="true"
    name="confirmPassword"
    errorText="Invalid password"
  ></ion-input>

  <ion-textarea
    fill="solid"
    label="Biography"
    labelPlacement="floating"
    [counter]="true"
    maxlength="50"
    ngModel
    required
    name="biography"
    errorText="Biography is required"
  ></ion-textarea>
</ion-content>
<ion-button (click)="register()">Register</ion-button>
<p>Already have an account? <a [routerLink]="['/login']">Login</a></p>
