<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form (submit)="register()" #registerForm="ngForm">
  <ion-input
    fill="solid"
    label="Name"
    labelPlacement="floating"
    type="text"
    [(ngModel)]="data.name"
    ngModel
    required
    maxlength="15"
    name="name"
    errorText="Invalid name"
  ></ion-input>

  <ion-input
    fill="solid"
    label="Username"
    labelPlacement="floating"
    type="text"
    [(ngModel)]="data.username"
    ngModel
    required
    maxlength="15"
    name="username"
    errorText="Invalid username"
  ></ion-input>

  <ion-input
    fill="solid"
    label="Email"
    labelPlacement="floating"
    type="email"
    [(ngModel)]="data.email"
    errorText="Invalid email"
    ngModel
    email
    name="email"
  ></ion-input>

  <ion-input
    fill="solid"
    label="Password"
    labelPlacement="floating"
    type="password"
    [(ngModel)]="data.password"
    ngModel
    required
    minlength="6"
    maxlength="15"
    [counter]="true"
    name="password"
    errorText="Invalid password"
  ></ion-input>

  <ion-input
    fill="solid"
    label="Confirm Password"
    labelPlacement="floating"
    type="password"
    [(ngModel)]="data.confirm_password"
    ngModel
    required
    minlength="6"
    maxlength="15"
    [counter]="true"
    name="confirmPassword"
    errorText="Invalid password"
  ></ion-input>

  <ion-textarea
    fill="solid"
    label="Biography"
    labelPlacement="floating"
    [counter]="true"
    maxlength="50"
    [(ngModel)]="data.biography"
    ngModel
    required
    name="biography"
    errorText="Biography is required"
  ></ion-textarea>
<ion-button type="submit" [disabled]="registerForm.invalid || !passwordMatch()" >Register</ion-button>
</form>
</ion-content>
<p>Already have an account? <a [routerLink]="['/login']">Login</a></p>
