<div class="container">
  <ion-avatar class="avatar">
   <img alt="Silhouette of a person's head"
   src="https://firebasestorage.googleapis.com/v0/b/ramble-322a6.appspot.com/o/test%2F1698975678282.jpeg?alt=media&token=c9a7b759-be64-4a3e-aa5b-b932c7b7159f&_gl=1*1loaemh*_ga*MTAzNzE3NTA2MC4xNjk0NDY1Njc2*_ga_CW55HF8NVT*MTY5OTMyMjM4MS44LjEuMTY5OTMyMjQyNi4xNS4wLjA."
   />
  </ion-avatar>
  <div class="secondContainer">
  <div class="title">
    <ion-text><b>Name</b></ion-text>
    <ion-text color="medium"> @username </ion-text>
  </div>
  <div class="content">
    <ion-text> lakdmalkdsmal
      askamdlamdlsdffddsfdfgdgdfdgfdgdggf
      dfdfdfggfdgf
    </ion-text>
    <img *ngIf="image.length > 0" class="image" alt="Silhouette of mountains" [src]="image" />
  </div>
  <div class="button">
    <div class="icon">
      <ion-icon name="heart-outline" size="large"></ion-icon>
      <ion-text> 0 </ion-text> 
    </div>
    <div class="icon">
      <ion-icon name="chatbubble-outline" size="large"></ion-icon>
      <ion-text> 0 </ion-text>
    </div>
    
  </div> 
  </div>
  

</div>
