.chips {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-bottom: 1px solid var(--ion-color-light);
}

ion-searchbar {
  --background: var(--ion-color-light);
  --border-radius: 2rem;
  --box-shadow: none;
  --padding: 1rem;
  --margin-left: 2rem;
  --margin-right: 2rem;
}

