<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="recent"> Recent </ion-segment-button>
    <ion-segment-button value="following"> Following </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="segment === 'recent'">
    <app-tweet-list method="getRecentTweets" ></app-tweet-list>
  </ng-container>

  <ng-container *ngIf="segment === 'following'">
    <app-tweet-list method="getFollowingTweets"></app-tweet-list>
  </ng-container>
</ion-content>
