<ion-refresher slot="fixed" (ionRefresh)="onRefresh($any($event))">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
  <ion-segment-button *ngFor="let seg of segments" [value]="seg.name">{{
    seg.name | titlecase
  }}</ion-segment-button>
</ion-segment>

<div class="content-container">
  <div class="no-content" *ngIf="tweets.length === 0">No rambles</div>
  <app-tweet *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet>
</div>

<ion-infinite-scroll *ngIf="tweets.length > 0" (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
