<ion-refresher slot="fixed" (ionRefresh)="onRefresh($any($event))">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
  <ion-segment-button *ngFor="let seg of segments" [value]="seg.name">{{
    seg.name | titlecase
  }}</ion-segment-button>
</ion-segment>

<div class="content-container" *ngIf="tweets.length === 0">
  <div class="no-content">No rambles</div>
</div>

<app-tweet
  (reloadEvent)="loadTweets()"
  *ngFor="let tweet of tweets"
  [tweet]="tweet"
></app-tweet>

<ion-infinite-scroll *ngIf="tweets.length > 0" (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
